html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

/* scroll barr  */
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border-radius: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fff;
  background-image: -webkit-gradient(linear,
      40% 0%,
      75% 84%,
      from(#ced4da),
      to(#ced4da),
      color-stop(0.6, #ced4da));
}

/* table */
/* table,
.divTable {
  border: 1px solid rgba(211, 211, 211, 0.5);
  width: fit-content;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
  height: 30px;
}

th,
.th,
td,
.td {
  box-shadow: inset 0 0 0 1px rgb(211, 211, 211, 0.2);
  padding: 0.25rem;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;